时间,类型,标题,内容,状态
2026-09-01 01:40:37,daily,放学安全提醒,同学们，放学了。回家路上不与陌生人交谈，不接受陌生人的食物和礼物。遇到危险及时向警察或附近大人求助。,开始
2026-09-01 01:40:50,daily,放学安全提醒,同学们，放学了。回家路上不与陌生人交谈，不接受陌生人的食物和礼物。遇到危险及时向警察或附近大人求助。,已播报
2026-09-01 01:40:54,friday,周末安全专题,同学们，本周的安全专题教育开始了，请大家认真听。 第一，交通安全。周末外出遵守交通规则，走斑马线，不闯红灯，不在车辆周围玩耍。 第二，防溺水。坚决做到不私自下水游泳，不擅自与他人结伴游泳，不到无安全设施的水域玩耍，发现同伴落水要大声呼救，不要手拉手盲目施救。 第三，居家安全。不玩火、不玩电，不给陌生人开门，记住爸爸妈妈的电话号码和家庭住址。 第四，网络安全。不沉迷手机游戏，不随意添加陌生网友，不向任何人透露支付密码。 祝大家度过一个安全、快乐的周末！,开始
2026-09-01 01:41:49,friday,周末安全专题,同学们，本周的安全专题教育开始了，请大家认真听。 第一，交通安全。周末外出遵守交通规则，走斑马线，不闯红灯，不在车辆周围玩耍。 第二，防溺水。坚决做到不私自下水游泳，不擅自与他人结伴游泳，不到无安全设施的水域玩耍，发现同伴落水要大声呼救，不要手拉手盲目施救。 第三，居家安全。不玩火、不玩电，不给陌生人开门，记住爸爸妈妈的电话号码和家庭住址。 第四，网络安全。不沉迷手机游戏，不随意添加陌生网友，不向任何人透露支付密码。 祝大家度过一个安全、快乐的周末！,已播报
2026-09-01 01:42:08,holiday,节假日安全专题,同学们，假期安全专题教育现在开始。 一、交通安全。外出遵守交通规则，乘车系好安全带、戴好头盔，不乘坐无资质的车辆。 二、防溺水。牢记防溺水六不要求：不私自下水游泳，不擅自与他人结伴游泳，不在无家长带领的情况下游泳，不到无安全设施、无救援人员的水域游泳，不到不熟悉的水域游泳，不熟悉水性的学生不擅自下水施救。 三、消防与用电安全。不玩火，不乱拉电线，远离易燃易爆物品。 四、食品卫生。规律饮食，不暴饮暴食，不食用野生蘑菇和不明食物。 五、防欺凌与自我保护。与同伴友好相处，遇到欺凌及时告诉家长和老师。 六、网络安全。合理安排上网时间，不轻信网络中奖和免费皮肤信息，谨防诈骗。 请同学们把安全记在心中，祝同学们假期平安快乐！,开始
2026-09-01 01:43:24,holiday,节假日安全专题,同学们，假期安全专题教育现在开始。 一、交通安全。外出遵守交通规则，乘车系好安全带、戴好头盔，不乘坐无资质的车辆。 二、防溺水。牢记防溺水六不要求：不私自下水游泳，不擅自与他人结伴游泳，不在无家长带领的情况下游泳，不到无安全设施、无救援人员的水域游泳，不到不熟悉的水域游泳，不熟悉水性的学生不擅自下水施救。 三、消防与用电安全。不玩火，不乱拉电线，远离易燃易爆物品。 四、食品卫生。规律饮食，不暴饮暴食，不食用野生蘑菇和不明食物。 五、防欺凌与自我保护。与同伴友好相处，遇到欺凌及时告诉家长和老师。 六、网络安全。合理安排上网时间，不轻信网络中奖和免费皮肤信息，谨防诈骗。 请同学们把安全记在心中，祝同学们假期平安快乐！,已播报
2026-09-01 22:30:04,daily,放学安全提醒,同学们，放学了。回家路上不与陌生人交谈，不接受陌生人的食物和礼物。遇到危险及时向警察或附近大人求助。,开始
2026-09-01 22:30:12,friday,周末安全专题,同学们，本周的安全专题教育开始了，请大家认真听。 第一，交通安全。周末外出遵守交通规则，走斑马线，不闯红灯，不在车辆周围玩耍。 第二，防溺水。坚决做到不私自下水游泳，不擅自与他人结伴游泳，不到无安全设施的水域玩耍，发现同伴落水要大声呼救，不要手拉手盲目施救。 第三，居家安全。不玩火、不玩电，不给陌生人开门，记住爸爸妈妈的电话号码和家庭住址。 第四，网络安全。不沉迷手机游戏，不随意添加陌生网友，不向任何人透露支付密码。 祝大家度过一个安全、快乐的周末！,开始
2026-09-01 22:30:12,friday,周末安全专题,同学们，本周的安全专题教育开始了，请大家认真听。 第一，交通安全。周末外出遵守交通规则，走斑马线，不闯红灯，不在车辆周围玩耍。 第二，防溺水。坚决做到不私自下水游泳，不擅自与他人结伴游泳，不到无安全设施的水域玩耍，发现同伴落水要大声呼救，不要手拉手盲目施救。 第三，居家安全。不玩火、不玩电，不给陌生人开门，记住爸爸妈妈的电话号码和家庭住址。 第四，网络安全。不沉迷手机游戏，不随意添加陌生网友，不向任何人透露支付密码。 祝大家度过一个安全、快乐的周末！,已播报
2026-09-01 22:30:19,daily,放学安全提醒,同学们，放学了。回家路上不与陌生人交谈，不接受陌生人的食物和礼物。遇到危险及时向警察或附近大人求助。,已播报
